/* basics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 70%;
  margin: 2px auto;
}
.hamburger-menu {
  display: none;
}
a {
  text-decoration: none;
}

/* styling header */
header {
  width: 100%;
  position: relative;
  padding: 1rem 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container .list-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.7rem;
}
.list-container li {
  padding: 6px 0;
  transition: all 0.1s linear;
  cursor: pointer;
  border-color: red;
}
.list-container li a {
  color: #777777;
}
.list-container li.active {
  border-bottom: 2px solid rgb(255, 0, 0);
}

.list-container li:hover {
  border-bottom: 2px solid rgb(255, 0, 0);
}

/* main styling */

main {
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
}

.main-container {
  display: flex;
  gap: 2rem;
}

.left-main_img-container {
  width: 100%;
}
.left-main_img-container img {
  max-width: 100%;
}
.left-main_text-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 25px;
}

.left-text h1 {
  font-weight: bold;
  font-size: 40px;
}
.right-text {
  color: #777777;
}
.right-text p {
  line-height: 1.4rem;
  font-size: 14px;
  margin-bottom: 25px;
}
.right-text .more-btn {
  padding: 10px 25px;
  cursor: pointer;
  background: #f15d51;
  color: #fff;
  letter-spacing: 5px;
  border: 1px solid #000;
}

.right-main {
  background: #00001a;
  padding: 25px 15px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-main h1 {
  color: #e7ac57;
}
.right-main .right-main_card:not(.right-main_card:last-of-type) {
  border-bottom: 0.4px solid #747373;
  padding: 30px 0;
}
.right-main .right-main_card h3 {
  color: #fff;
  margin-bottom: 10px;
}
.right-main .right-main_card p {
  color: #777777;
  line-height: 20px;
  letter-spacing: 1.5px;
}

/* retro section styling */

.retro-section {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.retro-section .retro-section_card {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.retro-section_card .retro-section_img {
  width: 50%;
}
.retro-section_img img {
  max-width: 100%;
}
.retro-section_card .retro-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.retro-text b {
  font-size: 60px;
  color: #747373;
}
.retro-text h3 {
  font-size: 25px;
  font-weight: bold;
}
.retro-text p {
  line-height: 1.7rem;
  color: #777777;
}

@media screen and (max-width: 1090px) {
  .main-container {
    flex-direction: column;
  }
  .left-main_text-container {
    flex-direction: column;
  }
  .retro-section {
    flex-wrap: wrap;
  }
  .retro-text b {
    font-size: 30px;
  }
  .retro-text h3 {
    font-size: 20px;
  }
  .retro-text {
    font-size: 15px;
  }
}

.showen {
  display: block !important;
}

@media screen and (max-width: 750px) {
  .hamburger-menu {
    display: block !important;
    cursor: pointer;
  }
  .list-part {
    display: none;
  }

  .list-container {
    position: absolute;
    background: #c7c7c7;
    flex-direction: column;
    align-items: flex-start !important;
    padding: 20px;
    top: 75%;
    right: 10%;
    width: 300px;
  }
  .list-container::before {
    content: "";
    position: absolute;
    display: block;
    border-color: transparent transparent #000 transparent;
    border-width: 10px;
    border-style: solid;
    width: 0;
    height: 0;
    top: -6%;
    right: 10%;
  }
  .list-container li {
    width: 100%;
  }
  .retro-section {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .retro-section img {
    width: 50%;
  }
  .retro-text b {
    font-size: 35px !important;
  }

  .retro-text h3 {
    font-size: 20px;
  }
  .retro-text p {
    font-size: 15px;
  }
}
